<!DOCTYPE html>
{% load static  %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Zokir - Gardening</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/classy-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area ">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="top-header-content d-flex align-items-center justify-content-between ">
                            <!-- Top Header Content -->
                            <div class="top-header-meta ">
                                <a href="# " data-toggle="tooltip " data-placement="bottom " title="infodeercreative@gmail.com "><i class="fa fa-envelope-o " aria-hidden="true "></i> <span>Email: zokirgarden@gmail.com</span></a>
                                <a href="# " data-toggle="tooltip " data-placement="bottom " title="+1 234 122 122 "><i class="fa fa-phone " aria-hidden="true "></i> <span>Call Uzb: +998 88 113 20 02</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu ">
            <div class="classy-nav-container breakpoint-off ">
                <div class="container ">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between " id="alazeaNav ">

                        <!-- Nav Brand -->
                        <H2 style="color:red ">ZokirGardenGroup</H2>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler ">
                            <span class="navbarToggler "><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu ">

                            <!-- Close Button -->
                            <div class="classycloseIcon ">
                                <div class="cross-wrap "><span class="top "></span><span class="bottom "></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav ">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                </ul>
                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="hero-area ">
        <div class="hero-post-slides owl-carousel ">

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay ">
                <!-- Post Image -->
                <div class="slide-img bg-img " style="background-image: url(media/image/1.jpg); "></div>
                <div class="container h-100 ">
                    <div class="row h-100 align-items-center ">
                        <div class="col-12 ">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center ">
                                <h2 style="color:aqua; text-decoration:dotted ">Zokir Garden Group</h2>
                                <p style="font-size: larger; ">
                                    Mobil ilovalar tarmog‘i va veb-sayt, bozor monitoringi, 
                                    qishloq xo‘jaligi sanoatini raqamlashtirish, ortiqcha
                                    qog’ozbozlikni bartaraf etish, monopoliyani yo’q qilish, real 
                                    statistikani yaratish, mamlakatimiz agrar xaritasini 
                                    yaratish, qo’shimcha ish o’rinlar, tadbirkorlar, fermer 
                                    xo‘jaliklarini qo‘llab-quvvatlash yagona markazini o‘z 
                                    ichiga olgan platforma.
                                </p>
                                <div class="welcome-btn-group ">
                                    <a href="# " class="btn alazea-btn mr-30 ">GET STARTED</a>
                                    <a href="# " class="btn alazea-btn active ">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Blog Area Start ##### -->
    <section class="alazea-blog-area section-padding-100-0 ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <!-- Section Heading -->
                    <div class="section-heading text-center ">
                        <h2>KOMPANIYA MAXSULOTLARI</h2>
                        <p>Kompaniya maxsulotlari &amp; maxsulot haqida malumot</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center ">

                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="single-blog-post mb-100 ">
                        <div class="post-thumbnail mb-30 ">
                            <img src="https://th.bing.com/th/id/R.c324b9e1d5afd36b7359e3531a033c2a?rik=OQv7%2fhEQTWM4NA&pid=ImgRaw&r=0">
                        </div>
                        <div class="post-content ">
                            <a href="#" class="post-title ">
                                <h5>Maxsulot nomi</h5>
                            </a>
                            <div class="post-meta ">
                                <a href="# "><i class="fa fa-clock-o " aria-hidden="true "></i> 20 Jun 2018</a>
                                <a href="# "><i class="fa fa-user " aria-hidden="true "></i> maxsulot egasi</a>
                            </div>
                            <p class="post-excerpt ">Maxsulot haqida qisqacha malumot</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="single-blog-post mb-100 ">
                        <div class="post-thumbnail mb-30 ">
                            <a href="#"><img src="https://th.bing.com/th/id/R.c324b9e1d5afd36b7359e3531a033c2a?rik=OQv7%2fhEQTWM4NA&pid=ImgRaw&r=0" alt=" "></a>
                        </div>
                        <div class="post-content ">
                            <a href="#" class="post-title ">
                                <h5>Maxsulot nomi</h5>
                            </a>
                            <div class="post-meta ">
                                <a href="# "><i class="fa fa-clock-o " aria-hidden="true "></i> 20 Jun 2018</a>
                                <a href="# "><i class="fa fa-user " aria-hidden="true "></i> maxsulot egasi</a>
                            </div>
                            <p class="post-excerpt ">Maxsulot haqida qisqacha malumot</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="single-blog-post mb-100 ">
                        <div class="post-thumbnail mb-30 ">
                            <a href="#"><img src="https://th.bing.com/th/id/R.c324b9e1d5afd36b7359e3531a033c2a?rik=OQv7%2fhEQTWM4NA&pid=ImgRaw&r=0" alt=" "></a>
                        </div>
                        <div class="post-content ">
                            <a href="#" class="post-title ">
                                <h5>Maxsulot nomi</h5>
                            </a>
                            <div class="post-meta ">
                                <a href="# "><i class="fa fa-clock-o " aria-hidden="true "></i> 19 Jun 2018</a>
                                <a href="# "><i class="fa fa-user " aria-hidden="true "></i> maxsulot egasi</a>
                            </div>
                            <p class="post-excerpt ">Maxsulot haqida qisqacha malumot</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->



    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img " style="background-image: {{ media }}/'image/3.jpg'; ">
        <!-- Main Footer Area -->
        <div class="main-footer-area ">
            <div class="container ">
                <div class="row ">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3 ">
                        <div class="single-footer-widget ">
                            <div class="footer-logo mb-30 ">
                                <h3 style="color: white ">ZokirGardenGroup</h3>
                            </div>
                            <p>Biz bilan bog'lanishingiz uchun havolalar</p>
                            <div class="social-info ">
                                <a href="# "><i class="fa fa-facebook " aria-hidden="true "></i></a>
                                <a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a>
                                <a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a>
                                <a href="# "><i class="fa fa-instagram " aria-hidden="true "></i></a>
                                <a href="# "><i class="fa fa-linkedin " aria-hidden="true "></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3 ">
                        <div class="single-footer-widget ">
                            <div class="widget-title ">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information ">
                                <p><span>Address:</span> Surxondaryo viloyati, shurchi tumani</p>
                                <p><span>Phone:</span> +998 88 113 20 02</p>
                                <p><span>Email:</span> zokirgarden@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="border-line "></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6 ">
                        <div class="copywrite-text ">
                            <p>&copy;
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> created by <i class="fa fa-heart-o " aria-hidden="true "></i> by <a href="# " target="_blank ">OYBEK</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6 ">
                        <div class="footer-nav ">
                            <nav>
                                <ul>
                                    <li><a href="# ">Home</a></li>
                                    <li><a href="# ">About</a></li>
                                    <li><a href="# ">Service</a></li>
                                    <li><a href="# ">Portfolio</a></li>
                                    <li><a href="# ">Blog</a></li>
                                    <li><a href="# ">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

</body>
</html>